In [2]:
import pandas as pd
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN, MeanShift
from sklearn.preprocessing import MinMaxScaler

/var/folders/nx/r46v348x4k30hz1gmq94sv7m0000gp/T/ipykernel_5715/1368929574.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [11]:
dados = pd.read_csv("nbb.csv")

In [ ]:
dados = pd.read_csv("nbb.csv")
columns = []
names = []
for cl in dados.columns:
    cln = cl.split(".")[0]
    if cln not in columns:
        names.append("_".join(cln.split(" ")).lower())
        columns.append(cl) 

dados = dados[columns]
dados.columns = names
dados = dados.dropna()
dados["total_min"] = dados["jogo"]*dados["min_em_quadra"]
dados

In [ ]:
dados_sort = dados.sort_values(by="min_em_quadra",ascending=False)
dados_sort = dados_sort[dados_sort["min_em_quadra"]>=17]
escala = MinMaxScaler()
X = escala.fit_transform(dados_sort.drop("jogadores",axis=1))

In [ ]:
agrupamento = KMeans(n_clusters=5,n_init=100)
dados_agrupados = agrupamento.fit_predict(X)

In [ ]:
rr = pd.DataFrame({'jogadores':dados_sort["jogadores"],'grupo':dados_agrupados})

In [ ]:
rr.to_csv("resultado.csv",index=False)

In [ ]:
agrupamento = pd.read_csv("agrupamentos.csv")

In [ ]:
agrupamento["Grupo"].value_counts()

In [ ]:
pd.crosstab(agrupamento['Grupo'], agrupamento['Posição em quadra'])

In [5]:
dados = pd.read_csv("dadosatualizados.csv")
columns = []
names = []
for cl in dados.columns:
    cln = cl.split(".")[0]
    if cln not in columns:
        names.append("_".join(cln.split(" ")).lower())
        columns.append(cl) 

dados = dados[columns]
dados.columns = names
dados = dados.dropna()
dados

,jogador,posição_em_quadra,jogo,min_em_quadra,centesimos_de_minutos,pontos,cesta_de_3_pts,cesta_de_2_pts,lances_livres,rebotes,...,bolas_recuperadas,índice_de_bolas_recuperadas_por_erro,tocos,faltas_cometidas,índice_de_tocos_por_faltas_cometidas,total_de_erros_(soma_de_erros_e_violações),violações,eficiência,duplos_duplos,triplos_duplos
0,McClanahan #22,Ala,32,34,50,21.44,6.19,11.06,4.19,3.59,...,1.09,0.47,0.19,2.69,0.07,2.31,0.50,14.50,0.00,0.0
1,Ruivo #4,Armador,38,33,28,10.55,5.92,2.26,2.37,2.82,...,0.92,0.52,0.03,1.29,0.02,1.76,0.11,14.32,0.13,0.0
2,Humberto #19,Ala,32,33,28,12.63,5.06,4.75,2.81,4.50,...,1.22,0.54,0.25,2.38,0.11,2.25,0.19,10.13,0.03,0.0
3,Gemadinha #35,Ala/Armador,32,33,5,16.94,8.53,4.81,3.59,3.41,...,1.03,0.42,0.03,3.00,0.01,2.44,0.38,13.25,0.00,0.0
4,Simms #1,Armador,31,33,4,13.97,6.68,3.94,3.35,3.58,...,1.35,0.86,0.16,1.55,0.10,1.58,0.23,11.74,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Smith #0,Ala/Armador,28,18,18,9.46,3.32,4.86,1.29,2.11,...,0.61,0.71,0.00,2.18,0.00,0.86,0.11,8.36,0.00,0.0
126,Betinho #26,Ala,43,17,86,7.95,2.86,3.49,1.60,2.81,...,0.79,0.79,0.07,1.91,0.04,1.00,0.05,7.95,0.00,0.0
128,Coelho #10,Armador,43,17,68,7.91,2.51,3.35,2.05,2.23,...,0.65,0.70,0.05,2.63,0.02,0.93,0.14,8.35,0.00,0.0
129,Ansaloni #22,Pivô,43,17,65,8.16,2.16,4.79,1.21,4.60,...,0.28,0.29,0.14,2.40,0.06,0.95,0.19,9.74,0.02,0.0
130,Sena #21,Pivô,27,17,10,8.22,0.33,6.59,1.30,3.07,...,0.11,0.10,0.33,2.81,0.12,1.15,0.19,6.04,0.00,0.0

In [6]:
dados.columns

Index(['jogador', 'posição_em_quadra', 'jogo', 'min_em_quadra',
       'centesimos_de_minutos', 'pontos', 'cesta_de_3_pts', 'cesta_de_2_pts',
       'lances_livres', 'rebotes', 'rebotes_ofensivos', 'rebotes_defensivos',
       'assistências', 'erros', 'índice_de_ass', 'arremessos_de_3_pts_certos',
       'arremessos_de_3_pts_tentados', 'cesta_de_3_(%)',
       'arremessos_de_2_pts_certos', 'arremessos_de_2_pts_tentados',
       'arremessos_2_pts_convertidos_(%)', 'lances_livres_certos',
       'lances_livres_tentados', 'lances_livres_convertidos_(%)', 'enterradas',
       'bolas_recuperadas', 'índice_de_bolas_recuperadas_por_erro', 'tocos',
       'faltas_cometidas', 'índice_de_tocos_por_faltas_cometidas',
       'total_de_erros_(soma_de_erros_e_violações)', 'violações', 'eficiência',
       'duplos_duplos', 'triplos_duplos'],
      dtype='object')

In [8]:
escala = MinMaxScaler()
X = escala.fit_transform(dados.drop(["jogador",'posição_em_quadra', 'jogo', 'min_em_quadra',
       'centesimos_de_minutos'],axis=1))

In [31]:
agrupamento = KMeans(n_clusters=5,n_init=100)
dados_agrupados = agrupamento.fit_predict(X)
dados_agrupados

array([3, 1, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 4,
       1, 4, 1, 1, 3, 3, 1, 4, 0, 4, 0, 1, 1, 1, 4, 3, 3, 1, 4, 1, 1, 1,
       3, 1, 1, 3, 4, 2, 0, 1, 1, 3, 1, 0, 1, 4, 4, 1, 3, 3, 2, 2, 2, 4,
       1, 2, 0, 4, 4, 2, 0, 1, 0, 2, 4, 4, 4, 2, 1, 0, 4, 2, 0, 2, 0, 4,
       4, 1, 1, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 4, 1, 0, 4, 4, 2, 4,
       2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 4],
      dtype=int32)

In [32]:
dados["grupo"] = list(dados_agrupados)

In [33]:
pd.crosstab(dados['grupo'], dados['posição_em_quadra'])

posição_em_quadra  Ala  Ala/Armador  Ala/Pivô  Armador  Pivô
grupo
0                    1            0         2        0     8
1                   14            7         1       16     0
2                    9            8         4        8     3
3                    6            1         4        1     4
4                    8            2        11        3     9

In [37]:
modelo2 = AgglomerativeClustering(n_clusters=5)
grupamento = modelo2.fit_predict(X)
grupamento

array([3, 0, 0, 0, 0, 0, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 3, 2,
       0, 1, 0, 0, 3, 3, 2, 0, 1, 0, 1, 0, 2, 0, 2, 1, 2, 0, 2, 0, 0, 2,
       3, 0, 0, 3, 2, 2, 1, 0, 0, 3, 0, 1, 0, 2, 2, 0, 1, 1, 4, 4, 2, 2,
       0, 2, 1, 0, 2, 4, 1, 0, 1, 4, 2, 0, 2, 4, 0, 1, 2, 2, 1, 4, 1, 2,
       2, 0, 0, 0, 4, 0, 0, 2, 2, 2, 2, 4, 2, 4, 2, 1, 0, 1, 0, 2, 2, 2,
       2, 4, 2, 0, 2, 2, 4, 4, 4, 4, 2, 1, 2, 4, 4, 2, 2, 0, 2, 1])

In [38]:
dados["grupo2"] = list(grupamento)

In [39]:
pd.crosstab(dados['grupo2'], dados['posição_em_quadra'])

posição_em_quadra  Ala  Ala/Armador  Ala/Pivô  Armador  Pivô
grupo2
0                   14            8         2       21     0
1                    4            0         2        0    13
2                   11            5        11        4     8
3                    4            1         4        1     1
4                    5            4         3        2     2